{% extends 'Main/index.html' %}


{% block title %}
| Planificación
{% endblock title %}


{% block content %}
<main class="container my-5">
    <div>
        <h1 class="fw-bold text-primary mb-3">Planificación</h1>
        <h2><a class="text-secondary" href=" {% url 'planificacion:proyectos' %} ">Proyectos</a></h2>
        <h2><a class="text-secondary" href=" {% url 'planificacion:clientes' %} ">Clientes</a></h2>
        <h2><a class="text-secondary" href=" {% url 'planificacion:vendedores' %} ">Vendedores</a></h2>
    </div>
</main>
{% endblock content %}